.streamhub-media-wall-view {
    position:relative;
}

.streamhub-media-wall-view .hub-wall-column {
    display: inline-block;
    vertical-align: top;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px; }

.streamhub-media-wall-view .content-tumblr .content-attachments-stacked,
.streamhub-media-wall-view.content-fit-to-width .hub-list .hub-content-container .oembed {
    display: none;
}

.streamhub-media-wall-view.content-fit-to-width .hub-list .hub-content-container .oembed:first-child {
    display: block;
}

.streamhub-media-wall-view.content-fit-to-width .hub-list .hub-content-container .oembed .content-attachment-photo {
    position: relative;
    background-image: none!important;
}

.streamhub-media-wall-view.content-fit-to-width .hub-list .hub-content-container .oembed:first-child .content-attachment-photo .content-attachment-actual-image {
    display: block!important;
}