@bootstrap-less: "lib/bootstrap/less";
@import (reference) "lib/livefyre-bootstrap/src/styles/fycon-styles.less";
@import "lib/streamhub-sdk/src/content/css/product.less";

/**
 * The rules in this file will be inserted at runtime
 * by wall-component. But they will all be prefixed
 * with [data-lf-module="streamhub-wall#{version}"]
 */
.streamhub-wall-component > menu {
  margin: 0;
  padding: 0;
  text-align: right;
}

.hub-modal {
  // Giving the modals SDK content styles since only the modals need to use
  // the actual card styles in this app.
  @import "lib/streamhub-sdk/src/content/css/content.less";
  @import "lib/streamhub-ui/src/css/ui.less";

  .hub-modal-close {
    right: 0px;
  }

  .content-default();

  @media (min-width: 1260px) {
    //For desktop
    .hub-modal-content-view {
      width: calc(~"90% - 400px")!important;
    }
    .hub-modal-close {
      right: calc(~"5% + 200px");
    }
  }

  @media (min-width: 1040px) and (max-width: 1260px){
    //For desktop
    .hub-modal-content-view {
      width: 90%!important;
    }
    .hub-modal-close {
      right: 5%;
    }
  }

  @media (min-width: 950px) and (max-width: 1040px){
    //For desktop
    .hub-modal-content-view {
      width: 95%!important;
    }
    .hub-modal-close {
      right: 2.5%;
    }
  }

  @media (min-width: 775px) and (max-width: 950px){
    //For desktop
    .hub-modal-content-view {
      width: 100%!important;
    }
    .hub-modal-close {
      right: 0px;
    }
  }

  @media (min-width: 775px) {
    //For desktop

    .hub-modal-content-view {
      padding: 0;

      &> div {
        display: inline-block;
        width: 55%;
        min-width: 400px;
        min-height: 400px;
      }

      .content {
        display: inline-block;
        vertical-align: top;
        width: 45%;
        margin-bottom: 0;
        padding-bottom: 20px;
        div[class*="content-attachment-"] {
          box-shadow: none!important;
        }
      }
    }
  }

  @media not screen and (min-width: 775px) {
    //For desktop
    div.hub-modal-content-view {
      padding: 0px;
      margin: 0px!important;
      width: 100%!important;
      height: 100%;

      .hub-modal-close {
        right: 0px;
      }

      &> div {
        display: inline-block;
        vertical-align: middle;
        width: 100%;
      }

      .content {
        display: inline-block;
        vertical-align: top;
        width: 100%;

        div[class*="content-attachment-"] {
          box-shadow: none!important;
        }
      }
    }
  }
}
